@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lobster&family=Maven+Pro&display=swap');
*{
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Comfortaa', cursive;
}

.login{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.login-image{
  height: 100%;
  width: calc(100% - 550px);
  background-color: black;
  background-image: url('https://images.pexels.com/photos/3038740/pexels-photo-3038740.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
}

.login-section{
  width: 550px;
  height: 100vh;
  
}

.inlogin{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  
}

.logo{
  font-size: 35px;
  font-weight: bold;
  padding: 10px;
  width: min-content;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
}

.inlogin form{
  width: 100%;
  overflow-y: scroll;
}

.dashboard{
  height: 100vh;
  width: 100vw;
  background-color: rgb(216, 222, 228);
  display: flex;
}

nav{
  height: 100%;
  width: 300px;
  background-color: white;
  box-shadow: 2px 5px 5px rgb(211, 210, 210);
  transition: 0.1s all ease;
}

.section-right{
  max-height: 100%;
  width: calc(100% - 300px);
  overflow-y: scroll;
}

.top-section{
  height: 70px;
  width: 100%;
  background-color: rgb(252, 253, 255);
  box-shadow: 2px 5px 5px rgb(216, 222, 228);
}

.button-menu{
  background-color: transparent;
  border: 0;
  font-size: 30px;
}

.list-menu{
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.list-menu li{
  list-style-type:none;
  font-size: 0.9rem;
  width: 100%;
  padding: 16px 0px;
  transition: 0.2s ease all;
}

.list-menu li:hover a{
  color: rgb(78, 78, 255);
}

.list-menu li:hover{
  background-color: rgb(235, 235, 235);
}

.list-menu li:hover i{
  color: rgb(78, 78, 255);
}

.list-menu li:hover span{
  color: rgb(78, 78, 255);
}

.list-menu li i{
  font-size: 1.2rem;
  color: rgb(87, 87, 87);
  transition: 0.2s color ease;
  -webkit-text-stroke: 0.2px;
}

.list-menu li a{
  color: rgb(87, 87, 87);
  text-decoration: none;
  transition: 0.2s color ease;
  font-weight: bold;
  display:flex;
  align-items: center;
  gap: 11px;
}

.active{
  background-color: rgb(235, 235, 235);
}

.active a{
  color: rgb(78, 78, 255) !important;
}

.active i{
  color: rgb(78, 78, 255) !important;
}

.active span{
  color: rgb(78, 78, 255) !important;
}

.profil-link div{
  display: flex;
  gap: 10px;
}

.profil-link{
  text-decoration: none;
}

.profil-link:hover h6{
  color: rgb(78, 78, 255);
}

.profil-link h6{
  font-size: 1rem;
  font-weight: bold;
  transition: 0.2s color ease;
}

.profil-link p{
  font-size: 0.8rem;
}

.pic{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.info-left{
  width: 70%;
  height: min-content;
}

.info-left img{
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 5%;
}

.info-left .name{
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.2s color ease;
}

.info-left .desc{
  font-size: 1.2rem;
  color: rgb(83, 87, 90);
}

.info-right{
  width: 35%;
  height: min-content;
}

.test {
  gap: calc(4% / 3)
}

.card-link {
  width: 24%;
  
  color: black;
  text-decoration: none;
}

.card-link h6{
  transition: 0.3s color ease;
}


.card-link:hover h6{
  color: rgb(78, 78, 255);
}

.card-project {
  width: 100%;
  border-radius: 0;
  height: 100%;
  transition: all 0.3s ease;
}

.icon-dev{
  padding: 4px 12px;
  font-size: 26px;
  -webkit-text-stroke: 1px;
  color: rgb(0, 94, 94);
  background-color: rgb(196, 255, 255);
}

.icon-mobile{
  padding: 4px 12px;
  font-size: 26px;
  -webkit-text-stroke: 1px;
  color: rgb(94, 61, 0);
  background-color: rgb(247, 208, 137);
}

.icon-design{
  padding: 4px 12px;
  font-size: 26px;
  -webkit-text-stroke: 1px;
  color: rgb(67, 0, 94);
  background-color: rgb(233, 176, 255);
}

.icon-other{
  padding: 4px 12px;
  font-size: 26px;
  -webkit-text-stroke: 1px;
  color: rgb(236, 0, 0);
  background-color: rgb(255, 183, 183);
}

.dots{
  font-size: 25px;
  background-color: transparent;
  border: none;
  padding: 0;
  height: 25px;
}

.text-desc{
  font-size: 14px;
}

.info-project{
  width: min-content;
  min-width: 50%;
}

.task-component{
  min-width: 70%;
  width: min-content;
}

.task-component-nav{
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.task-component-nav li{
  list-style-type: none;
  padding: 10px 0px;
  

}

.task-component-nav a{
  text-decoration: none;
}

.active-nav{
  position: relative;
  height: 100%;
}

.active-nav a{
  font-weight: bold;
  color: black !important;
}

.active-nav::after{
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  background: #000;
}

.dash-feature{
  gap: calc(4% / 3);
}

.dash-feature > div{
  width: 24%;
}

.label {
 
  width: 150px;
  height: 150px;
  background: #FFD166;
}


.label::after {
  content: "";
  position: absolute;

  width: 65px;
  height: 32.5px;
  border: 10px red solid;
  border-bottom: 0;
  border-radius: 32.5px 32.5px 0 0;
}

.feature-2{
  gap: calc(4% / 3);
}

.feature-2 div{
  width: calc(48% + (4% / 3));
}

@media(width < 1200px){
  nav{
    width: 0px;
    position: absolute;
    z-index: 3;
    overflow: hidden;
  }

  .section-right{
    width: calc(100% - 0px);
  }

  .container{
    padding: 0px 15px !important;
    max-width: 100vw !important;
  }

  .test {
    gap: calc(4% / 2)
  }
  
  .card-link {
    width: 32%;
    
    color: black;
    text-decoration: none;
  }

  .button-menu{
    display: block !important;
  }
}

@media(width < 790px){
  .test {
    gap: calc(2%)
  }
  
  .card-link {
    width: 49%;
    
    color: black;
    text-decoration: none;
  }

  .dash-feature{
    gap: 1%;
    flex-wrap: wrap;
  }

  .dash-feature > div{
    width: 49.5%;
  }

  .feature-2{
    gap: 15px;
    flex-direction: column;
  }

  .feature-2 div{
    width: 100%;
  }

  .info-project{
    flex-grow: 1;
  }

  .task-buttons{
    width: min-content;
  }

  .task-buttons span{
    display: none;
  }

  .task-component{
    flex-grow: 1;
  }

  .info-section{
    flex-direction: column;
  }

  .info-section > div{
    width: 100%;
  }

  .task-component-nav{
 
    justify-content: space-between;
   
  }

  .login{
    flex-direction: column;
  }

  .login-image{
    width: 100%;
    max-height: 30%;
  }

  .login-section{
    width: 100%;
  }
  
}

@media(width < 481px){
  .test {
    gap: 0
  }
  
  .card-link {
    width: 100%;
    
    color: black;
    text-decoration: none;
  }

  .dash-feature{
    gap: 15px;
    flex-wrap: wrap;
  }

  .dash-feature > div{
    width: 100%;
  }

  .chart-container{
    flex-direction: column;
  }

  .info-project{
    width: 100%;
  }

  .container-button{
    width: 100%;
    flex-direction: row !important;
  }

  .container-button button{
    flex-grow: 1;
  }

  .tasks{
    flex-direction: column-reverse;
  }

  .task-component{
    width: 100%;
  }

  .task-buttons{
    display: flex;
    width: 100%;
  }

  .task-buttons button{
    display: flex;
    justify-content: center;
  }

  .task-component-nav li{
    font-size: 15px;
  }
}

@media(width < 361px){
  .task-component-nav li{
    font-size: 11px;
  }
}