@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lobster&family=Maven+Pro&display=swap');
*{
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Comfortaa', cursive;
}

.login{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.login-image{
  height: 100%;
  width: calc(100% - 550px);
  background-color: black;
  background-image: url('https://images.pexels.com/photos/3038740/pexels-photo-3038740.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
}

.login-section{
  width: 550px;
  height: 100vh;
  
}

.inlogin{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  
}

.logo{
  font-size: 35px;
  font-weight: bold;
  padding: 10px;
  width: min-content;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
}

.inlogin form{
  width: 100%;
  overflow-y: scroll;
}

.dashboard{
  height: 100vh;
  width: 100vw;
  background-color: rgb(216, 222, 228);
  display: flex;
}

nav{
  height: 100%;
  width: 300px;
  background-color: white;
  box-shadow: 2px 5px 5px rgb(211, 210, 210);
}

.section-right{
  max-height: 100%;
  width: calc(100% - 300px);
  overflow-y: scroll;

}

.top-section{
  height: 80px;
  width: 100%;
  background-color: rgb(252, 253, 255);
  box-shadow: 2px 5px 5px rgb(216, 222, 228);
}

.button-menu{
  background-color: transparent;
  border: 0;
  font-size: 30px;
}

.list-menu{
  display: flex;
  flex-direction: column;
  gap:15px;
  padding: 0;
  width: 100%;
}

.list-menu li{
  list-style-type:none;
  font-size: 0.9rem;
  width: max-content;
}

.list-menu li:hover a{
  color: rgb(78, 78, 255);
  font-weight: bold;

}

.list-menu li:hover i{
  color: rgb(78, 78, 255);
}

.list-menu li i{
  font-size: 1.4rem;
  color: rgb(87, 87, 87);
  transition: 0.2s color ease;
  -webkit-text-stroke: 1px;


  
}

.list-menu li a{
  color: rgb(87, 87, 87);
  text-decoration: none;
  transform: translateY(50px);
  transition: 0.2s color ease;
  font-weight: bold;

}

.profil-link div{
  display: flex;
  gap: 10px;
}

.profil-link{
  text-decoration: none;
}

.profil-link:hover h6{
  color: rgb(78, 78, 255);
}

.profil-link h6{
  font-size: 1rem;
  font-weight: bold;
  transition: 0.2s color ease;
}

.profil-link p{
  font-size: 0.8rem;
}

.pic{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.info-left{
  width: 70%;
  height: min-content;
}

.info-left img{
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 5%;
}

.info-left .name{
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.2s color ease;
}

.info-left .desc{
  font-size: 1.2rem;
  color: rgb(83, 87, 90);
}

.info-right{
  width: 35%;
  height: min-content;
}

.test {
  gap: calc(4% / 3)
}

.card-link {
  width: 24%;
  
  color: black;
  text-decoration: none;
}

.card-link h6{
  transition: 0.3s color ease;
}


.card-link:hover h6{
  color: rgb(78, 78, 255);
}

.card-project {
  width: 100%;
  border-radius: 0;
  height: 100%;
  transition: all 0.3s ease;
}

.icon-dev{
  padding: 4px 12px;
  font-size: 26px;
  -webkit-text-stroke: 1px;
  color: rgb(0, 94, 94);
  background-color: rgb(196, 255, 255);
}

.icon-mobile{
  padding: 4px 12px;
  font-size: 26px;
  -webkit-text-stroke: 1px;
  color: rgb(94, 61, 0);
  background-color: rgb(247, 208, 137);
}

.icon-design{
  padding: 4px 12px;
  font-size: 26px;
  -webkit-text-stroke: 1px;
  color: rgb(67, 0, 94);
  background-color: rgb(233, 176, 255);
}

.icon-other{
  padding: 4px 12px;
  font-size: 26px;
  -webkit-text-stroke: 1px;
  color: rgb(236, 0, 0);
  background-color: rgb(255, 183, 183);
}

.dots{
  font-size: 25px;
  background-color: transparent;
  border: none;
  padding: 0;
  height: 25px;
}

.text-desc{
  font-size: 14px;
}